<div class="modal modal--animate-translate-up flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal" id="qq-group">
  <div class="modal__content width-100% max-width-xs bg radius-md shadow-md" role="alertdialog" aria-labelledby="modal-title-qq" aria-describedby="modal-description-qq">
    <header class="bg-contrast-lower padding-y-sm padding-x-md flex items-center justify-between">
      <h4 class="text-truncate" id="modal-title-qq">社区Q群</h4>
      <button class="reset modal__close-btn modal__close-btn--inner js-modal__close js-tab-focus">
        <svg class="icon" viewBox="0 0 20 20">
          <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
            <line x1="3" y1="3" x2="17" y2="17" />
            <line x1="17" y1="3" x2="3" y2="17" />
          </g>
        </svg>
      </button>
    </header>
    <div class="padding-y-sm padding-x-md">
      <div class="text-component">
        <p id="modal-description-qq">
          BeatSaber中文社区③：<a class="text-bg-fx text-bg-fx--scale-x" target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=KbI6vcbMS0WpICriZlV5tzKkJWTVzPiR&jump_from=webapi&authKey=aYsaqYyxsyvDy21CS0388DoEW6XvHa7vxqG5E1b0cfJAHBjFNbQHHbVVz42ZfgM2" rel="nofollow">820726281</a>（较冷清）
        </p>
        <p>
          BeatSaber中文社区②：<a class="text-bg-fx text-bg-fx--scale-x" target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=g7QnI5e6AucIAS2ArI7TlEObaOclbsK4&jump_from=webapi" rel="nofollow">810303476</a>（较活跃，推荐）
        </p>
        <p>
          BeatSaber中文社区①：<a class="text-bg-fx text-bg-fx--scale-x" target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=_HSm69z99NJPi47oynFmVlKH5YA4bOzS&jump_from=webapi" rel="nofollow">639959292</a>（较活跃）
        </p>
        <p>
          BeatSabe<span style="letter-spacing:1.2px;">r的QQ频道</span>：<a class="text-bg-fx text-bg-fx--scale-x" target="_blank" href="https://qun.qq.com/qqweb/qunpro/share?_wv=3&_wwv=128&appChannel=share&inviteCode=NVA0h&businessType=9&from=246610&biz=ka" rel="nofollow">w9dyu18qa0</a>
        </p>
        <p>
          BeatSaber谱面制作群：<a class="text-bg-fx text-bg-fx--scale-x" target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=S0_SXiRiJhssWEVPcvCdxs8xZicA4sC5&jump_from=webapi" rel="nofollow">1101964663</a>
        </p>
        <p>
          BeatSaber打分新手群：<a class="text-bg-fx text-bg-fx--scale-x" target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=os9__FPk62jciovy1AStFuiXDLho-1sO&jump_from=webapi" rel="nofollow">941873202</a>
        </p>
        <p>
          如果链接点不开，可能是超时过期，请复制群号手动加群。
        </p>
        <p>
          我们已配置自动审核，如果你的加群申请没有立即通过，很可能是遭到了腾讯风控被屏蔽，请尝试通过其他设备重新加群。
        </p>
      </div>
    </div>
  </div>
</div>