<div class="modal modal--animate-translate-up flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal" id="dashang-window">
  <div class="modal__content width-100% max-width-xs bg radius-md shadow-md" role="alertdialog" aria-labelledby="modal-title-ds" aria-describedby="modal-description-ds">
    <header class="bg-contrast-lower padding-y-sm padding-x-md flex items-center justify-between">
      <h4 class="text-truncate" id="modal-title-ds">捐助教程作者</h4>
      <button class="reset modal__close-btn modal__close-btn--inner js-modal__close js-tab-focus">
        <svg class="icon" viewBox="0 0 20 20">
          <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
            <line x1="3" y1="3" x2="17" y2="17" />
            <line x1="17" y1="3" x2="3" y2="17" />
          </g>
        </svg>
      </button>
    </header>
    <div class="padding-y-sm padding-x-md">
      <div class="text-component">
        <p>
          <img width="100%" id="ds-img" src="{{ '/assets/img/dashang.png' | relative_url }}?v=3">
          根据规定，微信/支付宝对静态收款码的远程付款做了限制，如果付款失败请换为另一种，还是不行请在下方反馈给我。
        </p>
        <p id="modal-description-ds">
          联系作者：<br><a target="_blank" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=785777793&site=qq&menu=yes">QQ 785777793</a>(若无回复请加好友),Discord WGzeyu#7287
        </p>
      </div>
    </div>
  </div>
</div>