<div class="notice bottom-md js-notice">
  <div class="container">
    <div class="notice__banner max-width-xxxxs bg padding-sm radius-md shadow-md">
      <div class="text-component text-sm margin-bottom-md" style="margin-bottom:1em;">
        <h4>该教程内容可能已过时</h4>
        <p>受心理疾病影响, 已于2023年10月停更</p>
      </div>
      <ul class="grid gap-xs">
        <li class="col-6">
          <a class="btn btn--primary width-100%" target="_blank" href="https://www.bilibili.com/opus/855259148612272132" rel="nofollow">查看详情</a>
        </li>
        <li class="col-6">
          <button class="btn btn--subtle width-100% js-notice__hide-control">我知道了</button>
        </li>
      </ul>
    </div>
  </div>
</div>